.episode .panel-heading {
  text-align: center;
}

.episode h2.channel-name  {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.episode h2.channel-name a {
  font-size: 18px;
  font-weight: bold;
}
