.episode .panel-heading {
  text-align: center;
}

.episode .description {
  margin-top: 10px;
}

.episode h2.channel-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

