.audio-player {
  opacity: 0.9;
  background-color: #000;
  color: #fff;
  position: fixed;
  font-weight: bold;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.audio-player .panel {
  margin-bottom: 5px;
}

.audio-player .panel-heading {
  background-image: none;
}

.audio-player .panel-body {
  padding-bottom: 5px !important;
}

.audio-player .panel,
.audio-player .panel-body,
.audio-player .panel-heading,
.audio-player .panel-footer {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.audio-player audio {
  width: 99%;
}

.episode .panel-heading {
  text-align: center;
}

p.episode-description {
  word-break: break-word;
}
